{% extends 'base.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
<div class="ui grid">
	<div class="row">
		<div class="eleven wide column">
			{% for i in qs %}
			<div class="ui fluid card">
				<div class="content">
					 {{i.content}}
				</div>
				<div class="content">
					<form action="{% url:'posts:like-post-view' %}" method="POST">
						{% csrf_token %}
						<input type="hidden" name="post_id" value={i.id}/>
						<button type="submit" class="ui primary button">Like</button>
					</form>
				</div>
			</div>
			 	
			{% endfor %}
		</div>
		<div class="five wide column">
			Five
		</div>
	</div>
</div>

{% endblock content %}